@import 'variables';

$block-border-radius: 0.15rem;

.markdown {
  line-height: 1.7;

  h1, h2, h3, h4, h5 {
    font-weight: 400;
    line-height: 1.25;
  }

  // remove padding at the beginning of page
  > :first-child {
    margin-top: 0;
    line-height: 1;
  }

  b, optgroup, strong {
    font-weight: 700;
  }
  
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  code {
    font-family: 'Oxygen Mono', monospace;

    padding: 0 $padding-4;
    background: $gray-100;
    border-radius: $block-border-radius;
  }

  pre {
    padding: $padding-16;
    background: $gray-200;
    border-radius: $block-border-radius;
    font-size: $font-size-14;
    overflow-x: auto;

    code {
      padding: 0;
      background: none;
    }
  }

  blockquote {
    border-left: $padding-1*2 solid $gray-300;
    margin: 0;
    padding: $padding-1 $padding-16;

    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  
    tr th, tr td {
      padding: $padding-8 $padding-16;
      line-height: 1;
      border: 1px solid $gray-200;
    }

    tr:nth-child(2n) {
      background: $gray-100;
    }
  }

  hr {
    height: $padding-1;
    border: none;
    background: $gray-200;
  }
}
