.markdown-inner {
  // Util class to remove extra margin in nested markdown content
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

// {{< expand "Label" "icon" >}}
.book-expand {
  margin-top: $padding-16;
  margin-bottom: $padding-16;

  border: $padding-1 solid $gray-200;
  border-radius: $border-radius;

  overflow: hidden;

  .book-expand-head {
    background: $gray-100;
    padding: $padding-8 $padding-16;
    cursor: pointer;
  }

  .book-expand-content {
    display: none;
    padding: $padding-16;
  }

  input[type="checkbox"]:checked + .book-expand-content {
    display: block;
  }
}

// {{< tabs >}}
.book-tabs {
  margin-top: $padding-16;
  margin-bottom: $padding-16;

  border: 0.1rem solid $gray-600;
  border-radius: $border-radius;

  overflow: hidden;

  display: flex;
  flex-wrap: wrap;

  label {
    display: inline-block;
    padding: $padding-8 $padding-16;
    border-bottom: $padding-1 transparent;
    cursor: pointer;
  }

  .book-tabs-content {
    order: 999; //Move content blocks to the end
    width: 100%;
    border-top: $padding-1 solid $gray-100;
    padding: $padding-16;
    display: none;
  }

  input[type="radio"]:checked + label {
    border-bottom: $padding-1 solid $color-link;
  }
  input[type="radio"]:checked + label + .book-tabs-content {
    display: block;
  }
}

// {{< columns >}}
.book-columns {
  margin-left: -$padding-16;
  margin-right: -$padding-16;

  > div {
    margin: $padding-16 0;
    // max-width: 50%;
    min-width: $body-min-width * 0.66;
    padding: 0 $padding-16;
  }
}

// {{< button >}}
a.book-btn {
  display: inline-block;
  color: $color-link !important;
  text-decoration: none !important;
  border: $padding-1 solid $color-link;
  border-radius: $border-radius;
  padding: $padding-4 $padding-16;
  margin-top: $padding-8;
  margin-bottom: $padding-8;
  cursor: pointer;
}

// {{< hint >}}
.book-hint {
  @each $name, $color in $hint-colors {
    &.#{$name} {
      border-left-color: $color;
      background-color: rgba($color, 0.1);
      // background-color: $gray-100;
    }
  };
}