@import "normalize";
@import "variables";
@import "markdown";
@import "shortcode";
@import "utils";

html {
  font-size: $font-size-base;
  letter-spacing: 0.33px;
  scroll-behavior: smooth;
}


html,
body {
  min-width: $body-min-width;
  overflow-x: hidden;
}

body {
  color: $body-font-color;
  background: $body-background;

  font-family: sans-serif;
  font-weight: $body-font-weight;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $color-link;

  &:visited {
    color: $color-visited-link;
  }
}

img {
  vertical-align: middle;
}

aside nav ul {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin: 1em 0;
  }

  a {
    display: block;
  }

  a:hover {
    opacity: 0.5;
  }

  ul {
    padding-left: $padding-16;
  }
}

ul.pagination {
  display: flex;
  justify-content: center;

  .page-item a {
    padding: $padding-16;
  }
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
}

.book-brand {
  margin-top: 0;
}

.book-menu {
  flex: 0 0 $menu-width;
  font-size: $font-size-14;
  border-right: 2px solid green;
  background-color: rgb(68, 139, 96);

  nav {
    width: $menu-width;
    padding: $padding-16;
    color : white;
    @include fixed;
  }
  @include dark-links;
  color : white;
  >ul{
    color : white;
  }
  a{
    color : rgb(255, 255, 255);
  }
}

.book-section-flat {
  margin-bottom: $padding-16 * 2;
  margin-top: $padding-16 * 2;

  > a,
  > span {
    font-weight: 600;
  }

  > ul {
    padding-left: 0;
  }
  
}

.book-page {
  min-width: $body-min-width;
  flex-grow: 1;
  padding: $padding-20;
  margin-left: 2rem;
}

.book-header {
  margin-bottom: $padding-16;
  display: none;
}

.book-toc {
  flex: 0 0 $toc-width;
  font-size: $font-size-12;

  nav {
    width: $toc-width;
    padding: $padding-16;
    border-left: 2px solid green;
    background-color: $gray-200;

    @include fixed;
  }
  nav > ul > li:first-child {
    margin-top: 0;
  }

  // Classes to hide nested levels of ToC (can be replaced by @for, but it's more clear like this)
  &.level-1 ul ul,
  &.level-2 ul ul ul,
  &.level-3 ul ul ul ul,
  &.level-4 ul ul ul ul ul,
  &.level-5 ul ul ul ul ul ul,
  &.level-6 ul ul ul ul ul ul ul {
    display: none;
  }
}

.book-footer {
  display: flex;
  padding-top: $padding-16;
  font-size: $font-size-14;
  align-items: baseline;

  img {
    width: 1em;
    height: 1em;
  }
}

.book-posts {
  min-width: $body-min-width;
  max-width: $sm-breakpoint;
  flex-grow: 1;
  padding: $padding-16;

  article {
    padding-bottom: $padding-16;
  }
}

.book-home {
  padding: $padding-16;
}

// Responsive styles
aside nav,
.book-page,
.book-posts,
.markdown {
  transition: 0.2s ease-in-out;
  transition-property: transform, margin-left, opacity;
  will-change: transform, margin-left;
  
}

aside nav{
  background-color: rgb(68, 139, 96);
}

@media screen and (max-width: $md-breakpoint) {
  .book-toc {
    display: none;
  }
}

@media screen and (max-width: $sm-breakpoint) {
  .book-menu {
    margin-left: -$menu-width;
    background-color: rgb(68, 139, 96);

  }

  .book-header {
    display: flex;
  }

  #menu-control:checked + main {
    .book-menu nav{
      background-color: rgb(68, 139, 96);
      transform: translateX($menu-width);
    }
    .book-page,
    .book-posts {
      transform: translateX($menu-width);

    }

    .book-header label {
      transform: rotate(90deg);
    }

    .markdown {
      opacity: 0.25;
    }
  }
}

// Extra space for big screens
@media screen and (min-width: $container-max-width) {
  .book-page,
  .book-posts,
  .book-menu nav,
  .book-toc nav {
    padding: $padding-16 * 2 $padding-16;
  }
}

// Add fonts
@import "fonts";

// Add custom defined styles
@import "custom";
// header {
//   display: block;
//   background-position: 30px 20px, 50% 50%;
//   background-image:url(../images/herobg.jpg);
//   padding-bottom: 100px; 
//   height: 1000px;
// }

// .header-center{
//   display: block;
//   background-position: 30px 20px, 50% 50%;
//   background-image:url(../images/herobg.jpg);
//   padding-bottom: 100px; 
//   height: 1000px;
//   width:100%;

// }


.imgs{
  display: block;
  border: 0.3rem solid rgb(197, 197, 197);
  max-width: 100%;
  height: auto;
  align-self:center;
}