<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
		{{ partial "head.html" . }}
	</head>
	<body>
		
		{{ partial "header.html"  . }} 
		{{ partial "about.html"   . }}
		{{ partial "work.html"    . }}
		{{ partial "clients.html" . }}
		{{ partial "contact.html" . }}
		{{ partial "form.html"    . }}
		{{ partial "footer.html"  . }}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="js/functions.js"></script>
		<script src="js/jquery-1.12.0.min.js"></script>
		<script src="js/mobile-menu.js"></script>
	</body>
</html>
