<!DOCTYPE html>
{{- partial "docs/shared" -}}
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>
{{ $content := `
# Hugo Book Theme

This is a placeholder for home page.  
You can override this page in:

 - &#96;/content/_index.md&#96;
 - &#96;/layouts/home.html&#96;
` }}

<header id="header">
<main class = "header-center">
</main>
</header>

<body>
  <main class="flex justify-center">
    <div class="book-home markdown">
      {{ replace $content "&#96;" "`" | markdownify }}
    </div>
  </main>

  {{ partial "docs/inject/body" . }}
  {{ template "_internal/google_analytics_async.html" . }}
</body>

</html>
