{{ "<!-- About section -->" | safeHTML }}
<section>
    {{ with .Site.Params.about.title }}<h3 id="about-me">{{ . }}</h3>{{ end }}

    <div class="face-lockup">
        <div class="face-img"></div>
        <div class="blurb">
            <p>
                <strong>Minitel</strong>
                est l’association réseau de l’
                <strong>École des Mines de Saint-Étienne</strong>
                sur le campus Georges Charpak, ses principales missions consistent à :
                <ul>
                    <li>
                    Opérer le
                        <a href="/wiki/">
                             Wiki Minitel
                        </a>
                        .
                    </li>
                    <li>
                        Maintenir l’accès à internet depuis la résidence (filaire et sans-fil).
                    </li>
                    <li>
                        Optimiser et améliorer l’accès à internet (débit et fiabilité de la connexion).
                    </li>
                    <li>
                        Être l’intermédiaire entre les étudiants et l’école, en particulier la DSI (Département Service
                        Informatique).
                    </li>
                    <li>
                        Assister les élèves quant à leurs problèmes informatiques (ordinateurs, téléphones et
                        logiciels).
                    </li>
                    <li>
                        Supporter techniquement les autres associations dans leurs projets informatiques.
                    </li>
                    <li>
                        Organiser des rencontres “gaming” intra et inter-écoles.
                    </li>
                    <li>
                        Participer à la vie étudiante du campus en animant des challenges informatiques (Nuit de
                        l’Info).
                    </li>
                    <li>
                        Proposer des solutions d’emprunt de matériel informatique aux élèves et associations.
                    </li>
                    <li>
                        Fondée en 2015, Minitel ne cesse de croître et d’entreprendre des projets de plus en plus
                        ambitieux.
                    </li>
                </ul>
            </p>
        </div>
    </div>


    {{ with .Site.Params.about.skills }}
    <div class="skill-lockup">
        {{ range . }}
        <div class="skill-unit">
            <div class="skill-label">{{ .name }}</div>
            <div class="skill-icons skill-{{ .value }}">
                {{ range (seq 10) }}
                <span></span>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
    {{ end }}
</section>