{{ "<!-- Contact section -->" | safeHTML }}
<section class="alt-section section-contact">
    {{ with .Site.Params.contact.title }}<h3 id="contact">{{ . }}</h3>{{ end }}
    <div class="social-links">
        {{ range .Site.Params.contact.social }}
        <a href="{{ .link }}" class="icon-{{ .icon }}"></a>
        {{ end }}
    </div>
    <hr class="bar2">
    <a class="Emaillink" href="#form-title">{{ .Site.Params.email }}</a>
</section>
