{{ "<!-- Footer section -->" | safeHTML }}
<footer id="footer">
    <div class="lockup">
        <div class="content-wrap">
            <nav>
                <a href="/wiki">Wiki</a>
                <a href="https://services-numeriques.emse.fr/minitel/">Service Numérique</a>
				<a href="https://myismin.emse.fr/">My Ismin</a>
                {{ with .Site.Params.about.title }}<a href="#about-me">{{ . }}</a>{{ end }}
                {{ with .Site.Data.work.title }}<a href="#work">{{ . }}</a>{{ end }}
                <a href="#clients">Photos</a>
                {{ with .Site.Params.contact.title }}<a href="#contact">{{ . }}</a>{{ end }}
            </nav>
            <p class="copyright">{{ with .Site.Params.footer.copyright }}{{ . }}{{ else }}All content copyright
                {{now.Format "2006"}} {{ end }}</p>
        </div>
    </div>
</footer>