{{ "<!-- Header section -->" | safeHTML }}
<header id="header">
    <nav>
        <a href="/wiki/">Wiki</a>
        <a href="https://services-numeriques.emse.fr/minitel/">Service Numérique</a>
        <a href="https://myismin.emse.fr/">My Ismin</a>
        {{ with .Site.Params.about.title }}<a href="#about-me">{{ . }}</a>{{ end }}
        {{ with .Site.Data.work.title }}<a href="#work">{{ . }}</a>{{ end }}
        {{ with .Site.Data.clients.title }}<a href="#clients">{{ . }}</a>{{ end }}
        {{ with .Site.Params.contact.title }}<a href="#contact">{{ . }}</a>{{ end }}

    </nav>
    {{ with .Site.Params.header.title }}<h1><span>{{ . }}</span></h1>{{ end }}
    {{ with .Site.Params.header.shortBio }}<p class="kicker">{{ . }}</p>{{ end }}

    <div class="veil">

    </div>
    <a href="javascript: void(0)" class="mobile-menu-button effect">
        <span class="bar"></span>
    </a>
    <div class="mobile-menu">
            <a href="/wiki/">Wiki</a>
            <a href="https://services-numeriques.emse.fr/minitel/">Service Numérique</a>
            <a href="https://myismin.emse.fr/">My Ismin</a>
            {{ with .Site.Params.about.title }}<a  href="#about-me" class="text-menu-button effect">{{ . }}</a>{{ end }}
            {{ with .Site.Data.work.title }}<a  href="#work" class="text-menu-button effect">{{ . }}</a>{{ end }}
            {{ with .Site.Data.clients.title }}<a href="#clients" class="text-menu-button effect">{{ . }}</a>{{ end }}
            {{ with .Site.Params.contact.title }}<a href="#contact" class="text-menu-button effect">{{ . }}</a>{{ end }}
    

    </div>
    </div>

</header>