<section class="alt-section section-work">
    {{ with .Site.Data.work.title }}<h3 id="work">{{ . }}</h3>{{ end }}

                <div class="work-container">
                    <img src="img/work/mandat/thumb.jpg" id="orga" />
                    <img src="img/work/mandat/technique.png" id="technique" />
    </div>
</section>